%{lib_dirs, ["apps","deps"]}.
{sub_dirs, [
  "helpers",
  "tokens",
  "web",
  "web/handlers/",
  "pool",
  "db"
]}.
{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            warn_format,
            %% warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
%            warnings_as_errors,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.

{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}}
  , {worker_pool, ".*", {git, "git://github.com/inaka/worker_pool.git", "HEAD"}}
  , {cowboy,".*", {git, "https://github.com/ninenines/cowboy.git", {tag,"1.0.0"} }}
  , {sqlite3, ".*", {git, "git://github.com/alexeyr/erlang-sqlite3.git", "master"}}
% , {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
% , {gen_tracker, ".*", {git, "git://github.com/erlyvideo/gen_tracker.git", "HEAD"}},

]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.

